<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%=title%></title>
    <!-- CSS //-->
    <link rel="stylesheet" href="/test/css/swiper.css" />
  </head>
  <body>
    <div id="app"></div>
    <div id="js_slide1" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide">
          Slide 1-1
          <div id="js_slide2" class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide slide">Slide 2-1</div>
              <div class="swiper-slide slide">Slide 2-2</div>
              <div class="swiper-slide slide">Slide 2-3</div>
              <div class="swiper-slide slide">Slide 2-4</div>
              <div class="swiper-slide slide">Slide 2-5</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide slide">Slide 1-2</div>
        <div class="swiper-slide slide">Slide 1-3</div>
        <div class="swiper-slide slide">Slide 1-4</div>
        <div class="swiper-slide slide">Slide 1-5</div>
      </div>
    </div>
    <style>
      .swiper-slide.slide {
        height: 100px;
      }
    </style>

    <%='AAA'%> <%- include('page.ejs') -%>

    <!-- 번들 JS //-->
  </body>
</html>
